<!DOCTYPE html>
<html>
<head>
    <title>Fitness Tracker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <nav>
        <!-- Navigation links -->
        <a href="{% url 'workout_list' %}">Workouts</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background-color: red; color: white;">Logout</button>
            </form>

            <!-- If user is logged in -->
            <p>Welcome, {{ user.first_name|default:user.username }}!</p>

            <!-- My Profile link -->
            <a href="{% url 'profile' %}">My Profile</a>
        {% else %}
            <!-- If user is not logged in -->
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
