<!DOCTYPE html>
<html>
<head>
    <title>Fitness Tracker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
</head>
<body>
   {% if user.is_authenticated %}
        <nav>
            <a href="{% url 'workout_list' %}">Workouts</a>
            <a href="{% url 'add_workout' %}" class="btn btn-success">Add Workout</a>
            <a href="{% url 'exercise_history' %}">Exercise History</a>
            <a href="{% url 'profile' %}">My Profile</a>

            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <a href="#" onclick="this.closest('form').submit();return false;">Logout</a>
            </form>

             <a href="{% url 'home' %}">Home</a>

            <span>Welcome, {{ user.username }}!</span>
        </nav>
    {% else %}
        <nav>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'home' %}">Home</a>
        </nav>
    {% endif %}

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- AJAX script for dropdowns -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_category").change(function() {
                const categoryId = $(this).val();
                $.ajax({
                    url: "{% url 'load_exercises' %}",
                    data: {'category_id': categoryId},
                    success: function(data) {
                     $("#id_exercise").html(data);  // Populate the exercise dropdown
                    }
                });
            });
        });
    </script>
</body>
</html>