<!DOCTYPE html>
<html>
<head>
    <title>Fitness Tracker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/style.css' %}">
</head>
<body>
    <nav>
        <!-- Navigation links -->
        <a href="{% url 'workout_list' %}">Workouts</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background-color: red; color: white;">Logout</button>
            </form>
            <p>Welcome, {{ user.first_name|default:user.username }}!</p>
            <a href="{% url 'profile' %}">My Profile</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- AJAX script for dropdowns -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_category").change(function() {
                const categoryId = $(this).val();
                $.ajax({
                    url: "{% url 'load_exercises' %}",
                    data: {'category_id': categoryId},
                    success: function(data) {
                     $("#id_exercise").html(data);  // Populate the exercise dropdown
                    }
                });
            });
        });
    </script>
</body>
</html>