{% extends 'tracker/base.html' %}

{% block content %}
    <h1>Workouts</h1>

    <form method="post" action="{% url 'add_workout' %}">
        {% csrf_token %}
        <label for="id_category">{{ form.category.label }}</label>
        {{ form.category }}

        <label for="id_workout_type">{{ form.workout_type.label }}</label>
        {{ form.workout_type }}
        <div>
        <label for="id_duration">{{ form.duration.label }}</label>
        {{ form.duration }}

        <label for="id_sets">{{ form.sets.label }}</label>
        {{ form.sets }}

        <label for="id_reps">{{ form.reps.label }}</label>
        {{ form.reps }}

        <button type="submit" style="background-color: greenyellow; color: black;">Add Workout</button>
        </div>
    </form>

    <hr>

    <ul>
        {% for workout in workouts %}
            <li>{{ workout }} - Sets: {{ workout.sets }} Reps: {{ workout.reps }} Duration: {{ workout.duration }} minutes</li>
        {% empty %}
            <li>No workouts yet.</li>
        {% endfor %}
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#id_category').change(function() {
            const categoryId = $(this).val();
            $.ajax({
                url: "{% url 'load_exercises' %}",
                data: {
                    'category_id': categoryId
                },
                success: function(data) {
                    const exerciseSelect = $('#id_exercise');
                    exerciseSelect.empty(); // Clear previous options
                    exerciseSelect.append('<option value="">Select an exercise</option>');

                    // Check if data is received and populate options
                    if (data.length > 0) {
                        $.each(data, function(index, exercise) {
                            exerciseSelect.append('<option value="' + exercise.id + '">' + exercise.name + '</option>');
                        });
                    } else {
                        exerciseSelect.append('<option value="">No exercises available</option>');
                    }
                },
                error: function() {
                    console.error("Error loading exercises.");
                }
            });
        });
    });
</script>
{% endblock %}